@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(title: String, words: List[Word], frontPageText: String)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main(title) {
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
    <div class="text-center m-b-20">
        <img class="home-image" src="@routes.Assets.versioned("images/digipedia.png")" alt="digipedia"><br>
        <span class="home-text">Welkom bij De beheerpagina.</span><br> <span class="home-text">
        Hier kunt u de voorpagina aanpassen en woorden aanpassen.</span>
    </div>
    @*
    *dit is het stuk om de voorpagina van de front aan te passen.
    *@
    <div class="col-md-6 col-md-offset-3">
        <h1><center> Voorpagina tekst aanpassen.</center></h1>

        <form action="@routes.HomeController.updateFront" id="addword" class="form-horizontal" onsubmit="return checkValid()" role="form" method="post">

            <div class="form-group ">
                <textarea  rows="4"  class="form-control" name="frontText" >@frontPageText</textarea>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-default btn-success" id="home-button">update</button>
                </div>
            </div>


        </form>


    </div>
    @*
    *dit is het stuk waarbij de beheerder alle woorden kan zien, aanpassen en of verwijderen.
    *@
    @if(words.size > 0) {
        <div class="col-md-6 col-md-offset-3">
            <h1><center> Alle woorden</center></h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Begrip</th>
                        <th>Omschrijving</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table">
                @for(word <- words) {
                    <tr>
                        <td> @word.word </td>
                        <td id="description">@word.description </td>
                        <td id="go-button"><a href="@routes.HomeController.updateWord(word.getId())"><img src="@routes.Assets.versioned("images/update.png")" height="18" width="15" alt="go"> </a></td>
                        <td id="go-button"><a href="@routes.HomeController.deleteWord(word.getId())"><img src="@routes.Assets.versioned("images/deleted.png")" height="18" width="15" alt="go"> </a></td>
                    </tr>
                }
                </tbody>
            </table>
            }
            <div class="clearfix"></div>
            <div class="container">
                <a class="btn btn-lg btn-success btn-block home-button" href="/addword">voeg nieuw woord toe</a>
            </div>
        </div>


}
