@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(title: String, woorden: List[Word], wordForm: Form[Word], wordMostSearch: List[Word], adminCheck: Form[AdminUsers])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(title) {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    <h1>Word</h1>
    @if(woorden.size > 0){

        <ul>
            @woorden.size
        @for(word <- woorden){
            <li>@word.word <bolt> met de description</bolt> @word.description </li>

        }
        </ul>
    }else{
        Geen word in database.
    }

    <h2>Voeg word toe</h2>
    @if(wordForm.hasGlobalErrors) {
    <div>
        Error: @wordForm.globalError.message
    </div>
    }
    @helper.form(action = routes.HomeController.addUser()) {
        @helper.inputText(wordForm("word"))
        @helper.inputText(wordForm("description"))
        <br />
        <button type="submit">Voeg toe</button>
    }

    <h1>5 meest gezochte woorden</h1>
    @if(wordMostSearch.size > 0){
        <ul>
            @wordMostSearch.size()
        @for(woorden <- wordMostSearch){
            <li>@woorden.word <bolt> met de description</bolt> @woorden.description </li>

        }
        </ul>
    }else{
        Geen word in database.
    }








}
