
@(title: String, form: Form[AdminUsers])


@admin(title) {


  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">DIGIPEDIA</h3>
            @if(form.hasGlobalErrors) {
              <p>
              @form.globalError.message
              </p>
            }
          </div>
          <div class="panel-body">

              <fieldset>
                <div class="form-group">
                @helper.form(action = routes.HomeController.authenticate()) {

                  <input class="form-control" placeholder="username" name="userName" type="text" autofocus>
                </div>
                <div class="form-group">
                  <input class="form-control" placeholder="Password" name="password" type="password" value="">
                </div>

                  <!-- Change this to a button or input when using this as a form -->
                <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
              </fieldset>

          </div>
        </div>
      </div>
    </div>
  </div>

}

}






